head
  title= "posts"
  link(rel='stylesheet', href='./styles.css')

// body section of your Pug file
body
  h1.facebook-header countenanceOpus

  each post in message
    .post-container
      h1= post.title
      h2= `user is ${post.user}`
      p= post.summary

  //- Form for creating new posts
  form(action="/posts", method="POST")
    label(for="user") User:
    input(type="text", name="user", required)
    br
    label(for="title") Title:
    input(type="text", name="title", required)
    br
    label(for="summary") Summary:
    textarea(name="summary", required)
    br
    input(type="submit", value="Create Post")

  //- Display error message
  if (error)
    p.error= error

  // Container for the navigation bar
  .navbar
    // Link to /users
    a(href='/users') Go to Users

    // Link to /comments
    a(href='/comments') Go to Comments